
 /* body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  /* justify-content: space-between; */
}

.sidebar {
  width: 16%; 
  background: #f8f9fa; 
  /* border-right: 1px solid #817e7e; */
  margin-right: 5px;
  padding: 1px; 
  box-sizing: border-box;  
  display: flex;
  flex-direction: column; 
  gap: 5px; 


.box {
  background: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 125px; 
}

.event {
  margin-bottom: 5px; 
}

.time {
  font-size: 12px; 
  color: #555; 
  margin-bottom: 5px;
  margin-top: 5px; 
}

.title {
  font-size: 16px; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 15px;

}
}

.borderline{
  margin-left: 0px;
  margin-right: 15px;
  height: 380px;
}

.meeting-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  width: 500px;
  text-align: center;
  height: 380px;
}

.meeting-header {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
  gap: 30px;
  align-items: center;

  .date{
    display: flex;
    align-items: start;
    gap: 5px;
    font-size: 12px;
  }

  .time{
    display: flex;
    align-items: start;
    gap: 5px;
    font-size: 12px;
  }
}

.meeting-title {
  font-size: 23px;
  color: #333;
  margin-bottom: 10px;
}

.instruction {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.meeting-form {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.checkbox-container label {
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

.inputfield_contact{
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 3.5px;
  height: 40px;
  font-size: 14px;
  /* width: 420px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.input-field1 {
  flex: 1;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 14px;
  width: 60%;
  outline: none;
  height: 30px;
  margin-top: 15px;
  border: none;
  /* padding-left: 2px;
  padding-top: 7.5px; */
}

.input_icon{
  padding-top: 5px;
  width: 20px;
}

.input-joinMeet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.input-field2 {
  flex: 1;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 15px;
}
.join-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
  
}

.join-button:hover {
  background-color: #21714B;
}
.about{
  font-size: 12px;
}
.learn-more {
  
  color: #218838;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  /* text-align: center;
  cursor: pointer;
   */
  }

.learn-more:hover {
  text-decoration: underline;
} 
